version: '3.8'

services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"  # HTTP interface
      - "9000:9000"  # Native interface
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./clickhouse/logs:/var/log/clickhouse-server  # Mount logs directory
    environment:
      - CLICKHOUSE_DB=ticket_pricing
      - CLICKHOUSE_USER=admin
      - CLICKHOUSE_PASSWORD=password
    networks:
      - pricing-network
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
  services:
  db:
    image: postgres:15
    container_name: superset_db
    restart: unless-stopped
    volumes:
      - superset_db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=superset
      - POSTGRES_USER=superset
      - POSTGRES_PASSWORD=superset

  redis:
    image: redis:7
    container_name: superset_redis
    restart: unless-stopped
    volumes:
      - redis:/data

  superset:
    image: apache/superset:latest
    container_name: superset_app
    command: ["/bin/sh", "-c", "/app/docker-init.sh"]
    restart: unless-stopped
    ports:
      - "8088:8088"
    depends_on:
      - db
      - redis
    environment:
      - SUPERSET_SECRET_KEY=your_random_secret_key_here
      - DATABASE_DB=superset
      - DATABASE_HOST=db
      - DATABASE_PASSWORD=superset
      - DATABASE_USER=superset
      - DATABASE_PORT=5432
      - DATABASE_DIALECT=postgresql
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  

networks:
  pricing-network:
    driver: bridge

volumes:
  clickhouse_data:
  grafana_data:
  superset_db:
  redis: